// var
$font1: 18px;
$font2: 22px;
$color-gray: #a5a5a9;
$base-font: 18px;
$base-bg: #595c5d;

body
  font-size: $base-font
  background-color: #ccc;

ul
  margin: 0px
  padding: 0px

li
  list-style-type: none